/* Playlist menu */
.menu {
  display: flex;
  margin: 3rem auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu .playlist {
  margin: 0.5rem;
}

/* Playlist card */
.playlist details {
  text-align: center;
  box-shadow: 0 0 0.5rem #ddd;
  border-radius: 1rem;
  width: 25rem;
  padding: 1rem 1rem;
  background-color: #fbfbfb;
}

/* Playlist title */
.playlist details > summary {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}

.playlist details > summary::-webkit-details-marker {
  display:none;
}

/* List of playlist occurences */
.playlist details ul {
  text-align: left;
  list-style: none;
}

.playlist li {
  margin-top: 1rem;
  cursor: pointer;
}