.swiper {
  width: 95%;
}

.slide {
  text-align: center;
  box-shadow: 0 0 2.5rem #ddd;
  border-radius: 1rem;
  width: 300px;
  margin: 2rem auto;
  padding: 1rem 1rem 1.5rem;
  background-color: #fbfbfb;
}

.slide:hover {
  transform: scale(1.02);
  transition-duration: 0.3s;
  animation-duration: 10s;
  cursor: pointer;
}

.slide img {
  border-radius: 0.5rem;
}

.slide p {
  margin: 0;
  padding: 2rem 0 0;
  font-weight: bold;
}

.popup {
  background-color: #fbfbfb;
  opacity: 0.9;
  box-shadow: 0 0 2.5rem #ddd;
  border-radius: 1rem;
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 0;
  color: #424242;
  padding: 2rem 1rem;
  font-size: 2rem;
}