.page {
  color: white;
  text-align: center;
  padding-top: 5rem;
}

.page p {
  font-size: 2rem;
}

.section {
  padding: 0 25%;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.section > div {
  float: left;
  margin-right: 5rem;
}

.section h2 {
  text-align: left;
}

.section p {
  text-align: justify;
}