.card {
  border-radius: 8rem;
  width: 90%;
  margin: 1rem auto;
  padding: 3rem 1rem;
  background-color: #fbfbfb;
  box-shadow: 0 0 3rem #ddd;
}

.card h2 {
  text-align: left;
  margin-left: 5%;
}

.carditem {
  opacity: 0.9;
  color: #424242;
  padding: 0.8rem;
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #ddd;
}

.carditem p {
  padding: 0rem 1rem;
  font-weight: bold;
}

.row {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row .card {
  width: 45%;
  margin: 1rem auto;
}

@media screen and (max-width: 900px) {
  .row .card {
    width: 95%;
  }
}

.bar {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1rem;
}

.bar p {
  display: inline-block;
  font-weight: bold;
}

.my_progress {
  width: 100%;
  background-color: #ddd;
  border-radius: 0.4rem;
}

.my_bar {
  width: 0%;
  height: 30px;
  background-color: #90a1bc;
  border-radius: 0.4rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline;
  background-color: rgb(173, 177, 182);
  padding: 0.05rem 0.45rem;
  border-radius: 1rem;
  margin-left: 0.2rem;
  color: white;
  font-size: small;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}